body {
    margin: 0;
    background-color: #242124;
}

/*Padronização da Página*/
.container {
    display: flex;
    margin: auto;
    width: 95%;
}

/*Início do Header*/
.header {
    flex-direction: row;
    background-color: #242124;
}

.header .container {
    align-items: center;
    justify-content: space-between;
}

.header .container .logotipo img {
    width: 90px;
    height: 100px;
}

.logotipo {
    display: flex;
    align-items: center;
    width: 50%;
}

.navBar {
    list-style: none;
    width: 980px;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 5%;
}

.navBar a {
    color: white;
    text-decoration: none;
    font-size: 40px;
}

/*Estilo Footer*/
.footer {
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_noFooter {
    width: 300px;
    height: 300px;
}

.frase_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social-media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid white;
    border-radius: 70%;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: white;
    margin-right: 4%;
}

/*Final do Header*/

/*Icone de player em cima do vídeo exibido*/
.video-container {
    position: relative;
    border-bottom: 10px solid #242124;
    display: flex;
}

.video-container .play {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.play img {
    width: 60px;
    height: 60px;
  }