@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/fundo3.jpg');
    background-size: 1800px 850px;
}

.content {
    background-color: #d30c798a;
    border-radius: 15px;
    width: 860px;
    height: 65%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #242124;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}

.img_logo{
    width: 80px; 
    height: 80px;
    display: flex;
}

.title {
    font-size: 20px;
    font-weight: normal;
    padding: 3% 4%;
    display: flex;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #69D1C5;
    font-size: 40px;
}

.description {
    font-size: 14px;
    font-weight: 300;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #242124;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #D30C7B;
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color: #D30C7B;
    color: white;
}

.btn-second {
    background-color: #242124;
    border: 1px solid #242124;
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #242124;
    border: 1px solid #69D1C5;
    color: #69D1C5;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
}

.link-social-media:hover .item-social-media {
    background-color: #69D1C5;
    color: white;
    border-color: #011F5B;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid #242124;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #242124;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #FFC0CB;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFC0CB inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: black;
    padding: 0 5px;
}