body {
    margin: 0;
}

/*Padronização da Página*/
.container {
    display: flex;
    margin: auto;
    width: 95%;
}

/*Início do Header*/
.header {
    flex-direction: row;
    background-color: #242124;
}

.header .container {
    align-items: center;
    justify-content: space-between;
}

.header .container .logotipo img {
    width: 90px;
    height: 90px;
}

.logotipo {
    display: flex;
    align-items: center;
    width: 50%;
}

.navBar {
    list-style: none;
    width: 980px;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 25%;
}

.navBar a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

/*Final do Header*/

/*Início Estilo banner_frase1*/
.banner_frase1 {
    width: 100%;
    height: 1000px;
    background-image: url('../img/fundo3.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    border-bottom: #011F5B solid 10px;
}

.banner_frase1 .cor-backround {
    display: flex;
    background-color: #242124f8;
    max-width: 30%;
    height: 585px;
    padding: 10px 10px;
    border: #D30C7B solid 2px;
    margin-left: 4%;
}

.texto1 {
    word-wrap: break-word;
    color: #ECEBF3;
    padding: 1% 10%;
    font-size: 70px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: normal;
}

/*Final Estilo banner_frase1*/

/*Início Estilo do Formulário*/
.formulario{
    display: flex;
    background-image: url('../img/fundo_form.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1100px;
    border-bottom: #011F5B solid 10px;
    align-items: center;
}

.bloco_perguntas{
    border: #D30C7B solid 2px;
    margin-top: 1%;
    margin-left: 3%;
    display: block;
    text-align: left;
}

.texto2{
    padding: 4% 8%;
}

.titulo_pesquisa {
    margin-top: 2%;
    color: white;
    font-size: 20px;
}

.todas_inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input_separada {
    display: flex;
    align-items: center;
}

.perguntas {
    font-weight: bold;
    font-size: 45px;
    color: white;
}

.respostas {
    padding: 5px;
    border: 1px solid #69D1C5;
    background-color: transparent;
}

.opcoesSapato {
    padding: 5px;
    border: 1px solid #69D1C5;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 10px;
}
/*Final Estilo do Formulário*/